<!-- create a page with a search bar -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/injection.css">
        <script src="../static/injection.js"></script>
        <title>Test Page for db DEBUG ONLY</title>
    </head>
    <body>
        <div class="topnav">
            <input type="text" id="search-input" placeholder="Full SQL search">
            <button onclick="Test()">Test</button>
        </div>

        <h1>Query Result</h1>
        <div id="results"></div>
    </body>
</html>